
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Raleway', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$white: #FFF;
$extra-light-gray: #EDEDED;
$light-gray: #D8D8D8;
$dark-gray: #505050;
$black: #333;
$dark-transparent: rgba(0, 0, 0, 0.5);

$header-height: 82px;