// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import '_admin-variables';

	.navbar-laravel {
		background-color: #fff;
		box-shadow: 0 0.125rem 0.25rem rgba(51, 51, 51, 0.19) !important;
	}
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.sidebar{
		font-size: 14px;
		.list-group-item-action.active{
			background-color: transparent;
			border-color: rgba(51, 51, 51, 0.125);
			color: $blue;
		}
	}

	.custom-file-control.selected:lang(pt)::after{
	  content: "" !important;
	}

@import 'components/preloader';
@import 'components/table';
@import 'components/list';
@import 'components/card';
@import 'components/flow';