.button {
	display: inline-block;
	width:auto;
    height:auto;
	min-height:50px;
	background: $green;
	border:1px solid $green;
	border-radius: 25px;
	font-size: 14px;
	color:$white;
	letter-spacing: 1px;
	text-transform: uppercase;
    text-align: center;
	padding:12px 30px;
	cursor: pointer;
	margin:15px 0;
	@include transition(400ms);

	&:hover {
		background:transparent;
		color:$green;
	}

	&.button-full {
		width:100%;
	}

    &.button-large {
        width:100%;
        height:70px;
        border-radius: 35px;
        font-size: 17px;
        padding:20px 30px;
    }

    &.button-small {
        width:auto;
        height:36px;
        border-radius: 7px;
        font-size: 11px;
        font-weight: 700;
        padding:7px 10px;
    }

    &.button-transparent-green {
        background-color: transparent;
        border:1px solid $green;
        color:$green;
        &:hover {
            background-color: $green;
            color:$white;
        }
    }
    &.button-transparent-black {
        background-color: transparent;
        border:1px solid $black;
        color:$black;
         &:hover {
            background-color: $black;
            color:$white;
        }
    }
}


button:focus {
    outline: none;
}
