.form-group {
	margin-bottom: 30px;
	label {
		font-size: 140%;
		font-weight: 400;
		text-transform: uppercase;
	}

	input.form-control,
    select.form-control,
    textarea.form-control {
		height:50px;
        font-size: 1.4rem;
	}
    textarea.form-control {
        height:150px;
    }
}


.input-dashed {
    position: relative;
    background-color: transparent;
    width:100%;
    height:50px;
    font-size: 1.4rem;
    color:$black;
    border-radius: 25px;
    border:1px dashed $black;
    padding:5px 10px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}
