.list__group{
	list-style: none;
	padding: 0;
	.list__group__item{
		padding: 18px 0;
		border-bottom: 1px solid $light-gray;
		&:first-child{
			padding-top: 0;
		}
		&:last-child{
			border-bottom: none;
			padding-bottom: 0;
		}
		.list__group__item__icon{
			vertical-align: top;
			display: inline-block;	
			font-size: 40px;
			margin-right: 5px;
		}
		.list__group__item__content{
			vertical-align: top;
			display: inline-block;	
			.list__group__item__title{
				margin: 0;
			}
			.list__group__item__title__select{
				display: block;
				margin-bottom: 5px;
			}
			.list__group__item__link{
				cursor: pointer;
				box-sizing: border-box;
				margin-right: 15px;
				&:hover{
					text-decoration: underline;
				}
				&.link__small{
					font-size: 14px;
				}
			}
				
		}
	}
}