.navmenu-background {
	position: relative;
	width:100%;
	background: #ddd5d5; /* Old browsers */
	background: -moz-linear-gradient(top, #ddd5d5 0%, #f1e9e9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ddd5d5 0%,#f1e9e9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ddd5d5 0%,#f1e9e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding:10px 0;
}

.navmenu {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
	a {
		position: relative;
		display: inline-block;
		vertical-align:middle;
		font-size: 150%;
		font-weight: 400;
		color:$gray;
		text-transform: uppercase;
		padding:5px 15px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
		&:hover,
		&.active {
			color:$purple;
		}
	}
}
