//  * =========================================================== *
//  <                  		PRELOADER 			                  >
//  * =========================================================== *
	#fadedMask{
	  	position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .8);
		text-align: center;
		z-index: 99999;
		display: none;
		#fadedMaskContainer{
			position: absolute;
			top: 50%;
			margin-top: -20px;
			width: 100%;
			.spinner {
				& > div{
					width: 18px;
					height: 18px;
					background-color: $blue;
					border-radius: 100%;
					display: inline-block;
					-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
					animation: sk-bouncedelay 1.4s infinite ease-in-out both;
				}
				.bounce1 {
				-webkit-animation-delay: -0.32s;
				animation-delay: -0.32s;
				}

				.bounce2 {
					-webkit-animation-delay: -0.16s;
					animation-delay: -0.16s;
				}
			}
			#fadedMaskMessage{
				*{
					color: $blue;
					font-size: 14px;	
				}
				margin-top: 10px;
			}
		}
			
	}

	@-webkit-keyframes sk-bouncedelay {
		0%, 80%, 100% { -webkit-transform: scale(0) }
		40% { -webkit-transform: scale(1.0) }
	}

	@keyframes sk-bouncedelay {
		0%, 80%, 100% { 
			-webkit-transform: scale(0);
			transform: scale(0);
		} 40% { 
			-webkit-transform: scale(1.0);
			transform: scale(1.0);
		}
	}