.product-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color:$dark-gray;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 600;
    color:$green;
    span {
        display: inline-block;
        text-decoration: line-through;
        color:lighten($gray,25%);
        padding-right: 10px;
    }
}
