/* product list *******************************************************/
.product-list {
    position: relative;
    width:100%;
    margin:15px 0;
    padding:15px 0;
    border-top:1px solid $light-gray;
    border-bottom:1px solid $light-gray;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-between;

    .product-list--thumb {
        width:15%;
        margin:0;
    }

    .product-list--title {
        width:55%;
        padding:0 10px;
    }

    .product-list--addon {
        width:30%;
    }

    .toggle-trigger {
        cursor: pointer;
    }

    .product-list--more-info {
        position: relative;
        width:100%;
        padding-top: 30px;
    }
}

@media (max-width: 576px) {
.product-list {
    display:block;
    padding:10px 0;

    .product-list--thumb {
        display:inline-block;
        width:20%;
        margin:0;
    }

    .product-list--title {
        display:inline-block;
        width:78%;
        padding:0 10px;
    }

    .product-list--addon {
        display: inline-block;
        width:100%;
        padding-left:20%;
    }
}
}
