/* product card *******************************************************/
.product-card {
    position: relative;
    border:1px solid $light-gray;
    background-color: $dark-white;
    border-radius: 10px;
    overflow: hidden;
    margin:15px 0;
    .product-card--thumb {
        overflow: hidden;
        transform: scale(1);
        margin:0;
        @include transition(500ms);
        img {
            border-radius: 10px 10px 0 0;
            margin:0;
            width:100%;
        }
    }
    .product-card--content {
        position: relative;
        padding:15px;
        border-top:1px solid $light-gray;
        border-radius: 0 0 10px 10px;
        background-color: $dark-white;
    }

    &:hover {
        .product-card--thumb {
            transform: scale(1.05);
        }
    }
}
