#slides {
	position: relative;
    z-index: 1;
	width:100%;
    display: none;

    & .slideshow-frame {
		width:100%;
		margin: 0 auto;
		padding: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}

	& .slidesjs-previous,
	& .slidesjs-next {
		position: absolute;
		z-index: 2;
		top: 50%;
		left:15px;
		margin:auto;
		transform: translateY(-50%);
		z-index: 98989;
		font-size: 50px;
		color:$white;
	}
	& .slidesjs-next {
		left:auto;
		right:15px;
	}

	& .slidesjs-pagination {
		position: relative;
		width: 100%;
		z-index: 200;
		margin:0;
		top:-35px;
		list-style: none;
		text-align: center;
		& li {
			display: inline-block;
			margin:3px;
			text-indent: -9999px;
			& a {
				display: block;
				width: 14px;
				height: 14px;
				border-radius: 7px;
				border:2px solid $white;
				background-color: $white;
				&.active {
					border:2px solid $green;
					background-color: transparent;
				}
			}
		}
	}
}

#slides .slideshow-frame,
#slides .slidesjs-container,
#slides .slidesjs-control {
  height:550px !important;
}

@media (max-width: 1200px) {
#slides .slideshow-frame,
#slides .slidesjs-container,
#slides .slidesjs-control {
  height:500px !important;
}
}
@media (max-width: 992px) {
#slides .slideshow-frame,
#slides .slidesjs-container,
#slides .slidesjs-control {
  height:450px !important;
}
}
@media (max-width: 768px) {
#slides .slideshow-frame,
#slides .slidesjs-container,
#slides .slidesjs-control {
  height:400px !important;
}
}
@media (max-width: 576px) {
#slides .slideshow-frame,
#slides .slidesjs-container,
#slides .slidesjs-control {
  height:350px !important;
}
}
