.social-icons {
	display: inline-block;
	margin:0;
	list-style: none;

	li {
		display:inline-block;
		color:$white;
		font-size: 15px;
		text-align: center;
		width:30px;
		height:30px;
		border-radius:15px;
		background-color: #bebebe;
		margin:5px;
		padding-top: 3px;
	}

}
