.table {
	margin-bottom: 0;

	thead,
	tbody {
		tr th,
		tr td {
			padding-top: 15px;
			padding-bottom: 15px;
			font-size: 15px;
			vertical-align: middle;

			a {
				font-size: 15px;
			}

			&:first-child {
				padding-left: 30px;
			}

			&:last-child {
				padding-right: 30px;
			}
		}
	}
	.table-actions {
		margin-top: 3px;

		& > li {
			display: block;
			float: left;
			margin-right: 5px;
			color: $blue;

			&:after {
				content: "-";
				margin-left: 5px;
				color: inherit;
			}

			a {
				display: inline-block;
				font-size: 14px;
				color: inherit;
			}

			&:last-child {
				&:after {
					content: "";
					display: none;
				}
			}
		}

		.dropdown {
			display: inline-block;

			ul li a {
				display: block;
			}
		}
	}
}

.dataTables_filter {
	display: none;
}

.dataTables_search {
	position: relative;
	display: block;
	float: right;
	width: 250px;
	height: 32px;
	padding: 5px 15px;
	font-weight: normal;
	border: 1px solid $light-gray;
    border-radius: 16px;

	&:focus {
		outline: none;
	}
}
